# rscmgr rc file

on property:sys.readahead.resource=1
    readahead /system/app/HoneyBoard/HoneyBoard.apk --fully
    readahead /system/priv-app/SamsungMessages/SamsungMessages.apk --fully
    setprop sys.readahead.resource 0